html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    cursor: default;
    background-color: #f1f1f1;
    padding: 1.5rem;
  }
  
  a, a:focus, a:active, a:visited {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
  }

  $light-blue: #47c9e5;

  .wrapper, .wrapper-wide {
    margin: 0 auto;
    .col {
        float: left;
      }
    .item {
        position: relative;
        background-color: #fff;
        display: block;
        margin: 1.5rem 0.75rem;
        outline: 1px solid #e1e1e1;
        overflow: hidden;
        width: 18.75rem;
        height: 21.875rem;
        box-shadow: 0px 10px 11px 0px rgba(0,0,0,0.05);
        transition: all 0.3s ease-in-out;
        // border: 1px solid #e1e1e1;
        // border-radius: 3px;
        &:hover {
            box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.06);
            // box-shadow: 0px 0.03rem 0.09rem rgba(0,0,0,0.18), 0px 0.16rem 0.36rem rgba(0,0,0,0.22);
            transform: translateY(4px);
        }
        &:hover .headline {
          color: $light-blue;
        }
        &:nth-child(even) {
          -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
        }
        &:nth-child(odd) {
          -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
        }
        p {
            display: none;
            line-height: 1.6;
            opacity: .7;
            margin-top: 0;
        }
        // *:not(.img-wrapper):not(img) {
        //     display: none;
        // }
        .img-wrapper {
            overflow: hidden;
            height: 11.6875rem;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .content {
            padding: .7rem 1rem;
            .category {
                display: inline-block;
                font-size: 0.8125rem;
                color: #8d8d8d;
                text-transform: uppercase;
                background-color: #f6f6f6;
                padding: 2px 8px;
                border-radius: 50px;
                margin-top: .3rem;
                &:hover {
                    background-color: $light-blue;
                    color: #fff;
                }
              }
              .headline {
                position: relative;
                font-size: 1.5rem;
                margin-top: .6rem;
                margin-bottom: .2rem;
                z-index: 1;
                overflow: hidden;
                height: 5.5rem;
                transition: all 0.3s ease-in-out;
                font-weight: 300;
              }
              .source {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-left: 1rem;
                padding-bottom: .5rem;
                width: 100%;
                &:before {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 6rem;
                    background: linear-gradient(transparent,rgba(255,255,255,.75) 40%,#fff 70%,#fff);
                    content: '';
                  }
                  span {
                    position: relative;
                    img {
                        vertical-align: sub;
                        margin-right: 5px;
                      }
                  }
              }
        }
        &.item-small {
            height: 10.1875rem;
            .img-wrapper, p {
                display: none;
            }
        }
        &.item-large {
            height: 33.5625rem;
            p {
                display: block;
            }
            .headline {
                position: static;
                height: auto;
                overflow: auto;
            }
        }
        &.item-extra-large {
            height: 33.5625rem;
            .img-wrapper {
                overflow: hidden;
                height: 23.375rem;
            }
        }
      }
  }

.wrapper {
  clear: both;
  height: 100%;
  .item {
    &:first-child {
      margin-top: 0;
    }
  }
}

.wrapper-wide {
  // height: 21.875rem;
  .item {
    float: left;
    margin-top: 0;
  }
}

@-webkit-keyframes fadeInUp {
    0% {
       opacity: 0;
       -webkit-transform: translateY(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInUp {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

 @-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }

 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

/* Screen sizes */

@media (min-width: 324px) {
    .wrapper, .wrapper-wide {
      width: 324px;
    }
  }
  
  @media (min-width: 648px) {
    .wrapper, .wrapper-wide {
      width: 648px;
    }
  }
  
  @media (min-width: 972px) {
    .wrapper, .wrapper-wide {
      width: 972px;
    }
  }
  
  @media (min-width: 1296px) {
    .wrapper, .wrapper-wide {
      width: 1296px;
      .item {
        &.item-wide {
          width: 39rem;
          .img-wrapper {
            height: auto;
          }
          .content {
            position: absolute;
            bottom: 0;
            color: #fff;
            width: 100%;
            .category {
              display: none;
            }
            .headline {
              height: auto;
              max-height: 5.5rem;
              margin-bottom: 1.2rem;
            }
            .source {
              &:before {
                background: linear-gradient(0deg,rgba(0,0,0,.95) 0,transparent 100%);
              }
            }
          }
        }
      }
    }
  }